<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      <!-- <%=htmlWebpackPlugin.options.title%> -->
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-container">
          <img src="images/logo-2.svg" alt="" class="logo" />
          <h1 class="logo-text">Devias Kit</h1>
          <button class="button button-primary">Free</button>
        </div>
        <ul class="nav-icon">
          <li><img src="images/support.svg" alt="" /></li>
          <li><img src="images/contact.svg" alt="" /></li>
        </ul>
      </nav>
      <div class="banner">
        <!-- <img src="https://source.unsplash.com/1600x900/?tech,laptop
            " alt="banner image" /> -->
      </div>
    </header>
    <main>
      <div class="product__info">
        <div class="info__container">
          <div class="info__logo">
            <img src="images/logo.svg" alt="logo 2" class="info__logo" />
          </div>
          <div class="info__text">
            <p>PRODUCTS</p>
            <h2>Devias Product</h2>
          </div>
        </div>
        <div class="product__search">
          <div>
            <img src="images/search.svg" alt="search icon" />
            <input type="text" placeholder="search users by name, id" class="product__search" />
          </div>
          <button class="product__search--new-item button button-primary">
            <svg class="plus" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
              ></path>
            </svg>
            <p>new item</p>
          </button>
        </div>
        <div class="product__cards">
          <div>
            <section class="card card-1">
              <img src="images/dropbox.png" alt="" />
              <h2>Dropbox</h2>
              <p>
                Dropbox is a file hosting service that offers cloud storage, file synchronization, a personal cloud.
              </p>
              <div class="cards__info">
                <div class="cards__info--time">
                  <img src="images/clock.svg" alt="" />
                  <p>Updated 2 hr ago</p>
                </div>
                <div class="cards__info--download">
                  <img src="images/download.svg" alt="" />
                  <p>594 Downloads</p>
                </div>
              </div>
            </section>
            <section class="card card-2">
              <img src="images/medium.png" alt="" />
              <h2>Medium</h2>
              <p>Medium is an online publishing platform developed by Evan Williams, and launched in August 2012.</p>
              <div class="cards__info">
                <div class="cards__info--time">
                  <img src="images/clock.svg" alt="" />
                  <p>Updated 2 hr ago</p>
                </div>
                <div class="cards__info--download">
                  <img src="images/download.svg" alt="" />
                  <p>594 Downloads</p>
                </div>
              </div>
            </section>
            <section class="card card-3">
              <img src="images/slack.png" alt="" />
              <h2>Slack</h2>
              <p>
                Slack is a cloud-based set of team collaboration tools and services, founded by Stewart Butterfield.
              </p>
              <div class="cards__info">
                <div class="cards__info--time">
                  <img src="images/clock.svg" alt="" />
                  <p>Updated 2 hr ago</p>
                </div>
                <div class="cards__info--download">
                  <img src="images/download.svg" alt="" />
                  <p>594 Downloads</p>
                </div>
              </div>
            </section>
          </div>
          <div>
            <section class="card card-4">
              <img src="images/lyft.png" alt="" />
              <h2>Lyft</h2>
              <p>Lyft is an on-demand transportation company based in San Francisco, California.</p>
              <div class="cards__info">
                <div class="cards__info--time">
                  <img src="images/clock.svg" alt="" />
                  <p>Updated 2 hr ago</p>
                </div>
                <div class="cards__info--download">
                  <img src="images/download.svg" alt="" />
                  <p>594 Downloads</p>
                </div>
              </div>
            </section>
            <section class="card card-5">
              <img src="images/github.png" alt="" />
              <h2>Github</h2>
              <p>GitHub is a web-based hosting service for version control of code using Git.</p>
              <div class="cards__info">
                <div class="cards__info--time">
                  <img src="images/clock.svg" alt="" />
                  <p>Updated 2 hr ago</p>
                </div>
                <div class="cards__info--download">
                  <img src="images/download.svg" alt="" />
                  <p>594 Downloads</p>
                </div>
              </div>
            </section>
            <section class="card card-6">
              <img src="images/squarespace.png" alt="" />
              <h2>Squarespace</h2>
              <p>Squarespace provides software as a service for website building and hosting. Headquartered in NYC.</p>
              <div class="cards__info">
                <div class="cards__info--time">
                  <img src="images/clock.svg" alt="" />
                  <p>Updated 2 hr ago</p>
                </div>
                <div class="cards__info--download">
                  <img src="images/download.svg" alt="" />
                  <p>594 Downloads</p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; Devias Io. 2019</p>
      <p>
        This is a free version of an end product which will be launched soon. If you want to get a free copy of the end
        product subscribe to our personal email list
      </p>
    </footer>
  </body>
</html>
