<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      <!-- <%=htmlWebpackPlugin.options.title%> -->
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-container">
          <img src="images/logo-2.svg" alt="" class="logo" />
          <h1 class="logo-text">Devias Kit</h1>
          <button class="button button-primary">Free</button>
        </div>
        <div class="nav-icon">
          <img src="images/support.svg" alt="" />
          <img src="images/contact.svg" alt="" />
        </div>
      </nav>
      <!-- <div class="banner">
            <img src="https://source.unsplash.com/1600x900/?tech,laptop
            " alt="banner image" />
        </div> -->
    </header>

    <div class="dashboard">
      <!-- sidebar starts -->
      <aside class="dashboard__sidebar">
        <div class="dashboard__profile-wrapper">
          <img src="./images/Oval.png" alt="profile picture" />
          <div class="dashboard__profile-text">
            <p>Roman kutepov</p>
            <p>Brain Director</p>
          </div>
        </div>
        <div class="dashboard__nav">
          <ul>
            <li>
              <span><img src="./images/b.svg" alt="" /></span><a href="">Dashboard</a>
            </li>
            <li>
              <span><img src="./images/d.svg" alt="" /></span><a href="">Users</a>
            </li>
            <li>
              <span><img src="./images/c.svg" alt="" /></span><a href="">Products</a>
            </li>
            <li>
              <span><img src="./images/e.svg" alt="" /></span><a href="">Authentication</a>
            </li>
            <li>
              <span><img src="./images/f.svg" alt="" /></span><a href="">Typography</a>
            </li>
            <li>
              <span><img src="./images/a.svg" alt="" /></span><a href="">Icons & Images</a>
            </li>
          </ul>
        </div>
        <div class="dashboard__support">
          <h2>Support</h2>
          <ul>
            <li>
              <span><img src="./images/support-2.svg" alt="" /></span> <a href="">Support</a>
            </li>
          </ul>
        </div>
      </aside>
      <!-- sidebar ends -->

      <!-- dashboard starts -->
      <div class="dashboard__container">
        <!-- dashboard navigation starts -->
        <ul class="dashboard__horizontal-nav">
          <li><a href="">Profile</a></li>
          <li><a href="">Account</a></li>
          <li><a href="">Price Plans</a></li>
        </ul>

        <!-- dashboard wrapper starts here -->
        <section class="dashboard__wrapper">
          <!-- dashboard 1  profile section-->
          <div class="dashboard__profile">
            <section class="dashboard__profile-info">
              <div>
                <h1>Adrian stefan</h1>
                <p>Rm. Valcea, Romania</p>
                <p>4:32PM (GMT-4)</p>
              </div>
              <img src="./images/profile-anrian.png" alt="" />
            </section>

            <!-- dashboard CTA buttons -->
            <section class="dashboard__profile-cta">
              <button class="dashboard--upload-cta" type="submit">Upload picture</button>
              <button class="dashboard--remove-cta">remove picture</button>
            </section>
          </div>

          <!-- dashboard 2 setting form -->
          <div class="dashboard__setting-form">
            <section class="dashboard__basic-profile">
              <h2 class="dashboard__heading-title">
                Basic Profile
                <span class="dashboard__heading-subtitle">The information can be edited from your profile page</span>
              </h2>
              <form class="dashboard__form" action="/">
                <section class="dashboard__profile-form">
                  <div>
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                  </div>
                  <div>
                    <input type="email" name="" id="" placeholder="adrian_shp@yahoo.com" />
                    <input type="tel" name="" id="" placeholder="0796654433" />
                  </div>
                  <div>
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                  </div>
                </section>

                <button type="submit" class="dashboard--save-cta-1">save settings</button>
              </form>
            </section>
            <!-- notifications starts  -->
            <section class="dashboard__notifications-setting">
              <!-- notifcations heeading text starts -->
              <h2 class="dashboard__heading-title">
                Notifications <span class="dashboard__heading-subtitle">Mange the notifications emailing</span>
              </h2>
              <!-- notifcations heeading text ends -->
              <!-- notification checkbox starts -->
              <form
                class="dashboard__form"
                action="
                        "
              >
                <section class="dashboard__notify-form">
                  <!-- column one -->
                  <div class="dashboard__col">
                    <h2>Notifications</h2>
                    <div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Email</span></div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Push notifications</span></div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Text messages</span></div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Phone calls</span></div>
                    </div>
                  </div>

                  <!-- column two -->
                  <div class="dashboard__col">
                    <h2>Messages</h2>
                    <div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Email</span></div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Push notifications</span></div>
                      <div class="col-b"><input type="checkbox" name="" id="" /><span>Text messages</span></div>
                      <div class="col-b"><input type="checkbox" name="" id="" /> <span>Phone calls</span></div>
                    </div>
                  </div>
                </section>

                <button type="submit" class="dashboard--save-cta-1 save-cta-2">save</button>
              </form>
            </section>
          </div>
        </section>
      </div>
      <!-- dashboard ends -->
    </div>
  </body>
</html>
