body {
  background: white;
}

.todo {
  background: #f8f9fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 32px 60px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 4rem auto;
  max-width: 761px;

  &__header {
    width: 100%;
    // outline: 1px solid green;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;
    border-bottom: 2px solid rgba(233, 236, 239, 1);
  }

  &__logo {
    text-align: center;
  }

  &__add-cta {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__container {
    flex: 1 1 100%;
    position: relative;
  }

  &__type-item {
    height: 44px;
    width: 100%;
    border: none;
    padding: 12px 16px 11px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::placeholder {
      font-family: $font;
      font-size: 14px;
      line-height: 21px;

      color: #95a7ba;
    }
  }

  &__calendar {
    right: calc(65px + 8px);
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
  }

  &--add-item {
    //     display: flex;
    //    transfomr
    padding: 4px 4px 2px;
    border: none;
    border-radius: 4px;
    color: white;
    height: 44px;
    width: 65px;
    // right: 44px;
    position: absolute;
    right: 0;
    font-weight: normal;
    text-transform: capitalize;
    background: rgba(0, 131, 251, 1);
    font-family: $font;
    font-size: 14px;
    line-height: 21px;
  }
}
